/* Grundinställningar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
}

/* Header-stil */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Bilder */
section img {
    max-width: 200px;
    height: auto;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* Footer-stil */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    
}
